
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat{
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.left{
    /* border: 2px solid white; */
    height: 100%;
    width: 30%;
    border-right: 1px solid white;
}
.right
{
    /* border: 2px solid white; */
    height: 100%;
    width: 70%;
    overflow: hidden;
}
.people-heading
{
    height: 60px;
    padding: 20px 50px;
    font-size: 35px;
    background-color: rgba(255, 254, 254, 0.971);
    color: black;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.people_list{
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width:none;
    height: 91%;
}
#people
{
    background-color: none;
    padding: 20px 20px;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
}
.even{
    background-color: rgba(39, 38, 38, 0.729);
    color: white;
}
.odd
{
    background-color: rgba(198, 197, 197, 0.745);
    color: black;
}
.chat-people-name
{
    background-color: rgba(240, 248, 255, 0.418);
    color: black;
    font-size: 25px;
    padding: 15px 25px;
}

.messages
{
    padding: 18px;
    height:33rem;
    border: 2px solid white;
    overflow: scroll;
    scrollbar-width: none;
}
#message
{
    font-size: 17px;
    padding: 10px 10px;
    background-color: gray;
    width: 30rem;
    border-radius: 15px;
    color: black;
    margin: 20px 0px;
}
.float-right
{
    float: right;
}
.send
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-send
{
    color: white;
    font-size: 16px;
    padding: 10px;
}